{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_sentence_list'|trans }}
{% endblock %}

{% block body %}
    <script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>

    <h1>{{ 'title_sentence_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="paginator">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="tabsentence">
            <thead>
            <tr>
                <th class="tabid">{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'sentence.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'sentence.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_translation'|trans, 'sentence.translation') }}</th>
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ 'label_language'|trans }}</th>
                <th>{{ 'action_edit'|trans }}</th>
                <th>{{ 'action_delete'|trans }}</th>
                <th>{{ 'action_listen'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for sentence in pagination.items %}
                <tr>
                    <td class="tabid">{{ sentence.id }}</td>
                    <td id="audioread{{ sentence.id }}">{{ sentence.name }}</td>
                    <td>{{ sentence.translation }}</td>
                    <td class="tdfilters">
                        <a href="{{ url('sentence_index', {'filters' : {'category' : sentence.category.id}}) }}"
                           title="{{ sentence.category.name }}">
                            {{ sentence.category.name }}
                        </a>
                    </td>
                    <td id="lang{{ sentence.id }}" class="tdfilters">
                        <a href="{{ url('sentence_index', {'filters' : {'language' : sentence.language.id}}) }}"
                           title="{{ sentence.language.name }}">
                            {{ sentence.language.name }}
                        </a>
                    </td>
                    <td class="edit">
                        <a href="{{ url('sentence_edit', {id: sentence.id}) }}" title="{{ 'action_edit'|trans }}">
                            <div id="editic"></div>
                        </a>
                    </td>
                    <td class="delete">
                        <a href="{{ url('sentence_delete', {id: sentence.id}) }}" title="{{ 'action_delete'|trans }}">
                            <div id="deleteic"></div>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="buttonaudio" onclick="textSpeak({{ sentence.id }})"></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="paginator">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p class="emptylist">
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock  %}
{% block javascripts %}
    <script>
        function textSpeak(sentenceId){
            var text = document.getElementById("audioread"+sentenceId).innerText;
            var language = document.getElementById("lang"+sentenceId).innerText;

            if(language === 'angielski'){
                responsiveVoice.speak(text, 'UK English Female');
            }
            else if(language === 'węgierski'){
                responsiveVoice.speak(text, 'Hungarian Female');
            }
            else if(language === 'włoski'){
                responsiveVoice.speak(text, 'Italian Female');
            }
        }
    </script>
{% endblock %}